.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(224, 160, 40);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.board:hover {
  cursor: pointer;
}

.content {
  grid-area: "game-content";
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #ebc11c, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
}

button {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: rgb(238, 226, 180) solid 2px;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
}

.blackButton {
  background-color: black;
  color: white;
}

.blackButton:hover {
  background-color: rgb(92, 84, 84);
  color: rgb(255, 255, 255);
}

.eraserButton {
  background-color: hotpink;
  color: white;
}

.eraserButton:hover {
  background-color: rgb(231, 185, 179);
  color: hotpink;
}

.grayButton {
  background-color: rgb(128, 128, 128);
  color: white;
}

.grayButton:hover {
  background-color: rgb(95, 95, 95);
  color: white;
}

.randomButton {
  background-color: rgb(255, 128, 0);
  color: white;
}

.randomButton:hover {
  background-image: linear-gradient(to right, yellow, red, green);
}

.clearGridButton {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSACqwx8fl8bdpPpHRpIqGUd7S0rk9iNgSFJw&usqp=CAU);
  background-position: center;
  background-size: cover;
  color: rgb(51, 55, 60);
}

.mode {
  margin-bottom: 10px;
  color: white;
}

input {
  padding: 5px;
  border-radius: 15px;
  border: rgb(238, 226, 180) solid 2px;
  max-width: 50px;
  text-align: center;
  cursor: pointer;
}

.error {
  display: none;
}
